*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}




.container{
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.txtb{
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
  position: relative;
  
}

h3{
  margin: 10px 0;
  position: relative;
}

.task{
  width: 100%;
  background:yellow;
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
  position: relative;
  
}

.task i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
  color: black;
}

.comp .task{
  background:greenyellow;
  color:black;
  stroke-linecap: butt;
  text-decoration: line-through;
}

  

  

#image{
  width: 1440px;
  height: 1024px;
  border-radius: 30px;
  background-color: #0c0b0b;

  fill-opacity: 50%;
  float: center; 
  position: fixed;
  
  }
  .profile 
  {
      min-height: 355px;
      display: inline-block;
  }
  
  .userIcon{
    background: white;
    width: 100px;
    margin-right: 10px;
    border-radius:50%;
    display:inline-block;
  }
  #Background {
    width: 650px;
    height: 220px;
    background-color: #1b3e5f;
    position: absolute;
    overflow: hidden;

}
body {
  color: white;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
